<!DOCTYPE html>
<html>
<head>
	<title>Customer Invoice</title>
</head>
<body>
<div class="container">
		<div class="row">

		<div class="col-md-6 pull-left">
			<div id="invoice-logo">
				<img src="images/bryce-logo-03.png">
			</div>
		</div>

		<div class="col-md-6 pull-right">
			<h2>Bryce Roofing an Contracting</h2>

			<address>
				152 Signature Glen Cir <br>
				Collierville, TN 38017;
			</address>

			<p>(901) 601-5021 | service@bryceroofing.com</p>
		</div>

		</div>
</div>


</body>
</html>