<%= provide(:body_id, "leads-show") %>

<div class="container">
	<div id="you-are-in" class="col-md-6 estimate leads-new">
		
	

	<div id="thanks" class="thanks-for-interest">

		<h2><strong>You're in!</strong></h2>
		<p class="lead">Thanks <%= @lead.firstName.strip.capitalize %>, for allowing us the opportunity to give you a quote!<br>
		We'll reach out to you shortly to talk about your project. <br> 
		...look forward to meeting you. </p>

		<%= link_to "Close", root_path, class: "btn btn-default" %>
	</div>

	

	</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.app_header').hide();
    $('.navbar-header').before('<div id="logo-white"><%= link_to image_tag("logo-white.png", :class => "img-responsive"), root_path %></div>');
    $('.navbar-right').hide();
    $('.navbar-header').addClass('navbar-right');
  });
</script>

</div>

<!-- Below is the Google AdWords Conversion Tracking code for conversion action Estimate form submission on website.  To start tracking this conversion you need to copy and paste the code into the source of the page you would like to track.

For tips see https://support.google.com/adwords/answer/6331314?&hl=en_US. -->
  

<!-- Google Code for Estimate form submission on website Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 856087817;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "rk2dCJScmnAQibqbmAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/856087817/?label=rk2dCJScmnAQibqbmAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>














