<% provide(:title, "About Us") %>
<% content_for :description do %>Bryce Roofing is an award winning roofing contractor providing expert installations and repairs for commercial and residential roofing with warranty protection and customer service.<% end %>

<!-- Body of the about page -->
<div class="container">
	<div class="page-header">
		<h1>About Us</h1>
	</div>

	<div class="row" id="about">
		<div class="col-md-8">
			<h2>Go with a pro</h2>
			<p class="lead">We are an award winning roofing contractor recognized for our outstanding workmanship and customer service. We offer the top warranties in the business backed by the largest and most respected roofing manufacturers in the industry.</p>

			<p> Our installers are continually trained and certified in the most current innovations in roofing products and industry best practices, bringing our customers the best and most reliable roof systems available today. With the widest range of roofing products, highly trained and certified installers, and the industry's best warranty options, we are the clear and reliable choice.</p>

			<p>Bryce Roofing and Contracting has earned the highest accolades from respected third party organizations including the highest rating from the Better Business Bureau&reg; of A+ as well as achieving high ratings from Angie's List&reg;, Yelp&reg;, and YP.com&reg;.</p>

			<P>Our team is also very proud to have earned all three Excellence Awards; Installation Excellence, Consumer Excellence, and Training Excellence from GAF&reg; North America's largest roofing manufacturer.&trade;</P>
		</div>

		<aside class="col-md-4">
			<div id="quote-with-mark" class="col-md-12">
				<div class="col-md-2">
					<h1 class="quote-mark">&ldquo;</h1>
				</div>

				<div id="quote" class="col-md-10">
					<p>Don did a fantastic job in replacing my roof.  His quote was reasonable and he finished the job just as he promised.  He left the job in perfect condition.  I would recommend him to anyone!</p>
					<p class="pull-right">Cheryl H.</p>
				</div>
			</div>
		</aside>
	</div>	
</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97221615-1', 'auto');
  ga('send', 'pageview');

</script>




