<% provide(:title, "Commercial Roofing") %>
<% content_for :description do %>Bryce Roofing expertly installs and repairs, commercial / flat roofing including single ply membranes - TPO, PVC, and EPDM. Excellent warranty protection and customer service. <% end %>

<div class="container">
	<div class="page-header">
		<h1>Commercial Roofing<small> expert installations</small></h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2><strong>EPDM Roof Systems<small> rubber roofing</small></strong></h2>
			<p class="lead">When you're looking for great performance in a value-priced low slope roofing solution, look no further than an EPDM (rubber) roof system.  It's perfect for new construction or re-roofing where superior performance is required at a cost-effective price.</p>

			<P>Bryce Roofing installed single-ply EPDM roofing systems are based on a high-performance synthetic rubber compound membrane available in black or white and varying thicknesses.  Providing outstanding weathering characteristics in all different types of climates.  From office buildings and distribution warehouses to hospitals and schools, Bryce Roofiing can install a high performance, cost effective EPDM roofing solution that's right for you.</P>

		</div>

		<div class="col-md-offset-1 col-md-5">
			<%= link_to image_tag "epdm.jpg", :class => "img-responsive roof-page-img" %>

			<h3><strong>EPDM (rubber) roof systems are typically installed in one of three methods:</strong></h3>

			<p><strong>Mechanically attached</strong> - This application provides a lightweight, cost-effective solution whereby the roof membrane is affixed to the structural deck utilizing mechanical anchors.</p>

			<p><strong>Fully adhered</strong> - The system is applied by bonding the membrane directly to the affixed insulation board or other roofing membrane substrate.</p>

			<p><strong>Ballasted</strong> - Using large sheets and 10 to 12 pounds of rock ballast per square foot to hold the membrane in place, this roof system can be the most cost-effective due to the ease and speed of installation.  However, this application does require a structural engineer's approval.</p>
		</div>		
	</div>

	

	<div class="page-header"></div>

	<div class="row">
		<div class="col-md-6">
			<h2><strong>Thermoplastic Membrane<small> TPO, PVC</small></strong></h2>
			<p class="lead">Bryce Roofing provides you with an array of thermoplastic (TPO, PVC) roofing solutions.  We can also assist in identifying State, Federal, and utility company rebates and incentives which may be available as a result of installing these energy efficient roof systems.</p>

			<p>TPO and PVC membranes come in white, gray, or tan and have high reflectivity and emissivity properties as well as excellent weathering characteristics and are highly resistant to ultraviolet light and most chemicals.  The membranes have a reinforced scrim and are puncture and tear resistant. TPO and PVC roofs have outstanding seam strength due to the fact that the membrane sheets are welded together using hot air welding machines.  These types of roof systems are lightweight and cost effective and perfect for roof-over and metal retro-fit applications as well as new construction.</p>
		</div>

		<div class="col-md-offset-1 col-md-5">
			<%= link_to image_tag "borischtpo.jpg", :class => "img-responsive roof-page-img" %>

			<h3><strong>There are three typical installation methods for TPO and PVC roof systems that provide lightweight and cost-effective solutions:</strong></h3>

			<p><strong>Mechanically Attached</strong> - The roof membrane is affixed to the structural deck with mechanical fasteners.</p>

			<p><strong>Fully Adhered</strong> - The membrane is bonded directly to the affixed insulation board or other roofing membrane substrate.</p>

			<p><strong>Point-affixed (Rhino-Bond)</strong> - Ideal for retrofit installation over metal applications, plates are installed at set intervals and the roof membrane is welded directly to the plates.</p>

		</div>
	</div>	
</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97221615-1', 'auto');
  ga('send', 'pageview');

</script>

 

 