<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<title>Welcome!</title>
	</head>
	<body>
		<h2>Welcome <%= @lead.firstName.strip.capitalize %>!</h2>

		</style>
<div class="email-bg" style="max-width: 600px;background-color: #d1e0e0;padding-bottom: 20px;">
<div id="logo" style="text-align: center;padding-top: 20px;padding-bottom: 20px;">
	<img style="width:250px;" src="http://www.bryceroofing.com/assets/bryce-logo-larger-890026cbf90526d48d0243986884f46b.png">
</div>
	<div class="container" style="width: 75%;background-color: #fff;margin: 0 auto 20px auto;padding: 20px 50px;font-size: 1em;font-family: Arial,Helvetica,sans-serif;color: #666;box-shadow: 0px 1px 5px #888;">
		<p>
			We are happy to have the opportunity to quote your roofing project and a we'll be reaching out to you shortly.
		</p>

		<p>
			My team and I have many years of roofing experience and knowledge, and are committed to providing 
			you the best in customer service, including excellent warranty options for your peace of mind.
		</p>
		<p>
			For your convenience, I've included a link below for you to schedule a time - that works best for you - for us to come out and look at your roof.
		</p>
			
		

		<div class="button" style="margin: 50px auto;text-align: center;">
			
			<a class="schedule-button" href="https://calendly.com/donyacos/roof_evaluation" role="button" target="_blank" style="width: 300px;height: 40px;background-color: #4ca1f4;color: #fff;text-align: center;text-decoration: none;font-family: Arial,Helvetica,sans-serif;font-weight: 300px;min-height: 16px;line-height: 16px;padding: 17px 50px;box-shadow: 0px 1px 5px #888;">Click to Schedule</a>
			
		</div>

		<p>
			Please feel free to reach out to me anytime with questions or concerns and thanks again for the opportunity to earn your business.
			
		</p>

		<p>
			Cheers,
		</p>

		<div class="signature">
			<p>
				Don Yacos<br>
				<span>Founder and CEO</span><br>
				<div id="email">E: don@bryceroofing.com</div>
				<div id="office">O: 901-209-4047</div>
			</p>
		</div>
	</div>
</div>
		

	</body>
</html>

