<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<title>Welcome!</title>
	</head>
	<body>
		<h2>Welcome <%= @lead.firstName.strip.capitalize %>!</h2>
		<p>
			I am happy to have the opportunity to quote your roofing project.
		</p>

		<p>
			You're in good hands - We bring many years of experience and knowledge to the table when servicing your roof.
		</p>

		<p>
			My team and I are committed to providing you the absolute best in customer service and support, including excellent warranty options for your peace of mind.  
		</p>

		<p>
			I'll contact you within the hour to schedule a time to visit your project, evaluate the size and scope, and discuss appropriate solutions.
		</p>

		<p>
			Thanks again for the opportunity to earn your business.  Please feel free to reply with any questions or concerns.
		</p>

		<p>
			Cheers,
		</p>
		<p>
			Don Yacos<br>
			President<br>
			<img src="/assets/bryce-logo-larger.png">
			152 Signature Glen Cir<br>
			Collierville, TN  38017<br>
			P: (901) 601-5021	
		</p>

	</body>
</html>